*{
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
    font-family: "Inconsolata", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
    color: #333333;
    background: #fff;
  }
  a {
    color: #DD356E;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  a:hover, a:active, a:focus {
    color: #DD356E;
    outline: none;
    text-decoration: none;
  }
  
  p {
    margin-bottom: 30px;
  }
  
  h1, h2, h3, h4, h5, h6, figure {
    color: #000;
    font-family: "Inconsolata", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
  }

  .form1 {
    background-image:url('img/fondo1.jpg');
  }
  
 
  .title {
    text-align:right;
    color: rgb(3, 3, 3);
  }

  .Formulario {
    background-color: rgb(100, 163, 165);
  }

  img {
    width: 100%;
    margin-top: 5px;
  }

 
  .imc {
    margin-top: 30px;
  }

  .video {
    margin-top: 25px;
    text-align: center;
  }

  .img_fluid {
    width: 80px;
    height: 80px;;
  }

  .footer {
    background-color: #000;
    color: #fff;
  }

.icon-footer {
  width: 30px;
  height: 30px;
}

h5 {
  color: #fff;
}