*{
  margin: 0px;
  padding: 0px;
  border: 0px;
}

  .form1 {
    background-image:url('img/fondo1.jpg');
  }
  
 
  .title {
    text-align:right;
    color: rgb(3, 3, 3);
  }

  .Formulario {
    background-color: rgb(100, 163, 165);
  }

  img {
    width: 100%;
    margin-top: 5px;
  }

 
  .imc {
    margin-top: 30px;
  }

  .video {
    margin-top: 25px;
    text-align: center;
  }

  .img_fluid {
    width: 80px;
    height: 80px;;
  }

  .footer {
    background-color: #000;
    color: #fff;
  }

.icon-footer {
  width: 30px;
  height: 30px;
}

h5 {
  color: #fff;
}

.form-usuario {
  background: rgb(127, 122, 226);
  border: 3px solid rgb(80, 240, 226);
  border-radius: 15px;
}
.regis-usuario {
  margin: 80px;
  padding: 9px;
  border: 0px;  
  background-image: url(img/fondo2.jpg);
}



